.homeSec_wrapper {
  @include flex(column, center, space-between);
  padding: 20px 0;
  width: 100%;
  height: 100%;
  .himalayanLogo {
    @include flex(column, center, center);
    width: 100%;
    p {
      text-align: center;
      font-family: cursive;
      color: rgb(90, 89, 89);
    }
  }
  .card_wrapper {
    @include flex(column, center, center);
    width: 85%;
    @include flex(column, center, center);
    .card {
      @include flex(column, center, center);
      width: 100%;
      box-shadow: 0 0 15px 10px rgb(240, 240, 240);
      margin: 1rem 0;
      .info {
        @include flex(row, center, center);
        @include media(P) {
          @include flex(column, center, center);
        }
        @include media(PL) {
          @include flex(column, center, center);
        }
        width: 100%;
        height: 250px;
        @include media(P) {
          height: 100%;
        }
        @include media(PL) {
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
          filter: brightness(0.8);
        }
        .bookatable_content {
          @include flex(column, center, center);
          margin: 1rem;
          p {
            margin: 0.3rem 0;
            text-align: center;
          }
          button {
            @include btn;
          }
        }
      }
    }
  }
}
